<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0">
  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net5.0</TargetFramework>
    <RuntimeIdentifier>linux-arm</RuntimeIdentifier>
    <PublishTrimmed>True</PublishTrimmed>
    <ProjectGuid>7e5e1f1b-1628-4183-a5b3-207b8a064797</ProjectGuid>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>True</PublishSingleFile>
  </PropertyGroup>
</Project>